TOKEN=<TOKEN FROM DEV PORTAL>
GUILDS=<COMMA-SEPARATED GUILD IDs>
CLIENTID=<CLIENT ID FROM DEV PORTAL>
SPOTIFY_CLIENT_ID=<CLIENT ID FROM SPOTIFY DEV DASHBOARD>
SPOTIFY_CLIENT_SECRET=<CLIENT SECRET FROM SPOTIFY DEV DASHBOARD>